body {
    background-color: rgb(45, 126, 163);
    color: rgb(212, 248, 53)
}
h1 {
    font-size: xx-large;
}
p {
    font-size: x-large;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}
a:hover {
    background-color: red;
}
img.ex1 {
    float:right;
    margin-left: 1150;
}
img.ex2 {
    float:left;
    margin-left: 40;
    margin-top: -50;
}
img.ex3 {
    margin-left: 1150;
    margin-top: -55;
}
footer.f1 {
    margin-top: 25%;
}
